[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
whitenoise = "==3.3.1"
gunicorn = "*"
dj-database-url = "*"
pandas = "*"
requests = "*"
pydrive = "*"
psycopg2-binary = "*"
heroku = "*"

[requires]
python_version = "3.7"
