[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.13"
django-rest-framework = "*"
gunicorn = "*"
dj-database-url = "*"
pandas = "*"
requests = "*"
pydrive = "*"
psycopg2-binary = "*"
whitenoise = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
