* {
  box-sizing: border-box;
  font-size: 14px;
  
}

body {
  margin: 3rem 6rem 3rem 6rem;
}

.side {
  height: fit-content;
  padding-left: 4rem;
}

 /* text styles */

.text {
  font-family: 'UltraCn';
  font-size: 1.4rem;
}

.main-heading {
  font-family: 'Univers';
}

.sub-heading {
  font-family: 'UniversLTStd';
  font-weight: bolder;
  text-transform: uppercase;
}


.red-text {
  font-family: 'UniversLTStd';
  font-weight: bold;
  color: #B82160;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.top-heading {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: #ce1937;
}


img {
  width: 100%;
  height: 100%;
}

 /* page starts */

.free-checklist-one {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 45rem;
}

.pc-div {
  margin-bottom: 5rem;
}

.pc-img-div {
  margin: 5rem 2rem;
  width: 100%;
  height: 100%;
}

.pc-img {
  width: 135%;
  height: 135%;
  margin-bottom: 3rem;
  transform-origin: center;
  transform: translateX(-7.5rem)

}

.prostores-img {
  width: 75%;
  height: 75%;
  padding-bottom: 3rem;
}

.prostores {
  margin-top: 1rem;
  width: 100%;
  height: fit-content;
  margin-left: 0;
  margin-right: 0;
  padding-right: 5rem;
  

}

.prostores .card {
  display: inline-block;
  border: none;
  margin-top: 1rem;
}

 /* dropdown start */

.features-button {
  width: 100%;
  font-family: 'Univers';
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(to bottom, rgba(237,161,55,1) 0%,rgba(253,234,205,1) 0%,rgba(251,206,143,1) 7%,rgba(250,182,88,1) 60%,rgba(248,164,54,1) 100%);
  border: #C97930 2px solid;
  border-radius: 4px;
}

.features-button:hover {
  color: black;
  background: linear-gradient(to bottom, rgba(212,132,20,1) 0%,rgba(249,198,121,1) 0%,rgba(249,173,67,1) 7%,rgba(247,153,21,1) 60%,rgba(232,135,8,1) 100%); 
  border: #C97930 2px solid;
}

.features-button 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #000;
  background: linear-gradient(to bottom, rgba(212,132,20,1) 0%,rgba(249,198,121,1) 0%,rgba(249,173,67,1) 7%,rgba(247,153,21,1) 60%,rgba(232,135,8,1) 100%); 
  border-color: #C97930;
}

button:focus {
  background-color: #00d2fc;
  border: none;
  outline-color: #C97930;
}

.features-button .btn:hover {
  background-color: #00d2fc;
  border: none;
  outline-color: #C97930;
}


.fa-caret-down {
  font-size: 1.9rem;
  padding: 0rem 1rem;
}

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: middle;
  color: black;
}

@media(max-width: 1024px) {
  .drop-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: middle;
  
  }

  .target-button {
    display: hidden;
  }
}

.dropdown-content {
  display: flex;
  margin-bottom: 4rem;
  width: 60vw;
}


.features {
  margin-top: 3rem;
  margin-right: 0;
  padding-right: 0;
}

.features .text {
  width: 100%;

}

.icon-wrap {
  display: inline;
  width: 8rem;
  height: 8rem;
}

.icons {
  display: inline;
  width: 8rem;
  height: 8rem;
  margin-bottom: 0rem;
}

  /* form starts */

.target-button {
  width: 80%;
  margin: .75rem;
  transform-origin: center;
  transform: translateX(12rem);
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'UniversLTStd';
  background: linear-gradient(to bottom, rgba(237,161,55,1) 0%,rgba(253,234,205,1) 0%,rgba(251,206,143,1) 7%,rgba(250,182,88,1) 60%,rgba(248,164,54,1) 100%);
  border: #C97930 2px solid;
  border-radius: 4px;

}

.target-button:hover {
  background: linear-gradient(to bottom, rgba(212,132,20,1) 0%,rgba(249,198,121,1) 0%,rgba(249,173,67,1) 7%,rgba(247,153,21,1) 60%,rgba(232,135,8,1) 100%); 
  color: black;
}

.target-button:active,
:focus,
:visited{
  border: 1px #C97930 solid;
  outline: none;
}


.form-block {
  display: inline-block;
  margin-top: 5rem;
  padding-top: 5rem;
}

.form {
  width: 100%;
  background-color: #9B0047;
  height: 100%;
  color: white;
  padding: 4rem 2rem;
}


.form-box {
  display: inline-block;
  width: 100%;
}

.form-box-2 {
  display: inline-block;
}

.form-ul {
  font-size: 1.2rem;
}

.download {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: black;
  padding: 1rem .5;
  background: linear-gradient(to bottom, rgba(237,161,55,1) 0%,rgba(253,234,205,1) 0%,rgba(251,206,143,1) 7%,rgba(250,182,88,1) 60%,rgba(248,164,54,1) 100%);  
  border: 1px #C97930 solid;
}

.download:hover {
  margin-top: 2rem;
  color: black;
  background: linear-gradient(to bottom, rgba(212,132,20,1) 0%,rgba(249,198,121,1) 0%,rgba(249,173,67,1) 7%,rgba(247,153,21,1) 60%,rgba(232,135,8,1) 100%);
}

.download i {
  color: white;
  background: black;
  padding: 8px 6px;
  padding-left: 6px;
  margin-right: .5rem;
  margin-left: -.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
}

.download:hover i {
  border: rgba(255,255,255,.4) solid 1px;
  border-radius: 3px;
  background: linear-gradient(to bottom, rgba(0,0,0, 1) 0%, rgba(100,100,100,1) 0%, rgba(65,65,65,1) 7%, rgba(45,45,45,1) 60%, rgba(35,35,35,1) 100%);
}

 /* footer starts */

.footer {
  height: 12rem;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: rgba(0,0,0,.2) 2px solid;
}

.footer-logo {
  width: 15rem;
  height: 12rem;
}

.logo {
  width: 15rem;
  height: 12rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-left {
  text-align: left;
  margin: 2.5rem;
}

.contact-left h6 {
  margin: 0;
  padding: 0;
}

.contact-right {
  text-align: left;
  margin: 2.5;
}