@font-face {
  font-family: 'GoBold';
  src: url(r'./static/media/Gobold_Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'MinionPro';
  src: url('./static/media/MinionPro-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Univers';
  src: local('Univers'), url('./static/media/Univers-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'UniversLTStd';
  src: local('UniverseLTStd'), url('./static/media/UniversLTStd-Light.otf') format('opentype')
}

@font-face {
  font-family: 'UniverseLTStd';
  src: local('UniverseLTStd'), url('./static/media/UniversLTStd-UltraCn.otf') format('opentype')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

